{% extends 'base.html.twig' %}
{% block title %}
    Panier
{% endblock %}
{% block navAcuueil %}
{% endblock %}
{% block navBoutique %}
{% endblock %}
{% block navPanier %}
    active
{% endblock %}
{% block body %}
    {% if (app.session.get('article') == 0) %}
        <div class="center bottom15p">
            <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25" id="salon">
                <p><strong>Panier Vide</strong></p>
            </div>
        </div>
    {% else %}
        <div class="center bottom15p">
            <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25" id="salon">
                <strong><p class="top10p bottom10p text15 redtext">{{ info }}</p>
                </strong>
                <i class="fa fa-shopping-basket fa-2x author bluetext"></i>
                <p><strong>Panier</strong></p>
                <strong><p id="erreur" class="top10p bottom10p text15 whitetext">{{ info2 }}</p></strong>
            </div>
            <table class="panier">
                <thead>
                <tr>
                    <th>Référence</th>
                    <th>Nom</th>
                    <th>Prix Unitaire</th>
                    <th>Quantité</th>
                    <th>Prix Total</th>
                    <th>Ajout / Retrait</th>
                </tr>
                </thead>
                <tbody>
                {% for element in panier %}
                    <tr>
                        <td>{{ element.ref }}</td>
                        <td>{{ element.nom }}</td>
                        <td>{{ element.prix }}</td>
                        <td>{{ element.quantite }}</td>
                        <td>{{ element.total }}</td>
                        <td>
                            <button id="ajout" name="{{ element.ref }}" class="pixel link-cursor button green whitetext ptop0 width100px"><i
                                        class="fa fa-plus-circle fa-3x author whitetext ptop20px"></i>
                            </button>
                            <button id="retrait" name="{{ element.ref }}" class="pixel link-cursor button red whitetext ptop0 width100px"><i
                                        class="fa fa-times-circle fa-3x author whitetext ptop20px"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><strong>prix total (HT)</strong></td>
                    <td><strong id="prix">{{ tot }}</strong> €</td>
                    <td>
                        <button id="valider" class="pixel link-cursor button green whitetext ptop0 width150px"><span class="text15">Valider</span><i
                                    class="fa fa-check fa-3x author whitetext ptop20px"></i>
                        </button>
                        <button id="vider" class="pixel link-cursor button red whitet ptop0 width150px"><span class="text15">Vider</span><i
                                    class="fa fa-times fa-3x author whitetext ptop20px"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                if (this.id == 'ajout') {
                    $.ajax({
                        url: '/Boutique/Ajout',
                        method: "post",
                        data: "ref=" + this.name+"&lieu=panier",
                        success: function () {
                            location.reload(true);

                        }
                    })
                } else if (this.id == 'retrait') {
                    $.ajax({
                        url: '/Boutique/Retrait',
                        method: "post",
                        data: "ref=" + this.name,
                        success: function (data) {
                            location.reload(true);
                        }
                    })
                } else if (this.id == "vider") {
                    $.ajax({
                        url: '/Panier/Vider',
                        method: "post",
                        success: function () {
                            location.reload(true);
                        }
                    })
                } else if (this.id == "valider") {
                    $.ajax({
                        url: '/Panier/Valider',
                        method: "post",
                        data: "prix="+document.getElementById("prix").innerText,
                        success: function () {
                            location.href = "/Profil/Commande";
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}
