{% extends 'base.html.twig' %}
{% block title %}
    detail - {{ detail.nom }}
{% endblock %}
{% block navAcuueil %}
{% endblock %}
{% block navBoutique %}
{% endblock %}
{% block body %}
    <div class="center bottom15p">
        <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25 width40" id="salon">
            <p><strong>Détail - {{ detail.nom }}</strong></p>
        </div>
    </div>
    <div class="center bottom15p">
        <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25 width50" id="salon">
            <p><strong>Nom : </strong>
            <p>{{ detail.nom }}</p></p></br><img src="data:image/png;base64,{{ imageC }}"/></br></br>
            {% if etat == "Rupture de stock" %}
                <p><strong>{{ etat }}</strong><p></br>
            {% else %}
                <p><strong>Prix : </strong><p>{{ etat }} €</p></p></br>
            {% endif %}
            <p><strong>Fabricant : </strong>
            <p>{{ detail.fabricant }}</p></p></br><img src="data:image/png;base64,{{ imageF }}"/></br></br>
            <p><strong>Année de sortie : </strong>
            <p>{{ detail.annee }}</p></p></br>
            <p><strong>Description : </strong>
            <p class="lheight30p">{{ detail.description }}</p></p></br>
            {% if etat == "Rupture de stock" %}
                <span class="pixel hvr-float grey width50 text18">Ajouter au panier<i
                            class="fa fa-plus-circle fa-3x author whitetext ptop20px right-15p left10p"></i></span>
            {% else %}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button id="ajout" name="{{ detail.ref }}" class="pixel link-cursor button green whitetext ptop0 width50 text18">
                        Ajouter au panier<i
                                class="fa fa-plus-circle fa-3x author whitetext left10p ptop20px right-15p"></i>
                    </button>
                {% else %}
                    <a href="/Connexion" class="pixel hvr-float green width50 text18">Ajouter au panier<i
                                class="fa fa-plus-circle fa-3x author whitetext left10p ptop20px right-15p"></i></a>
                {% endif %}
            {% endif %}
            <strong><p id="fin-ajout" class="top10p bottom10p text18 whitetext"></p>
            </strong>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $.ajax({
                    url: '/Boutique/Ajout',
                    method: "post",
                    data: "ref="+this.name,
                    success: function(data){
                        document.getElementById('fin-ajout').innerHTML = data.res;
                    }
                })
            })
        })
    </script>
{% endblock %}