{% extends 'base.html.twig' %}
{% block title %}
    Boutique console portable
{% endblock %}
{% block navAcuueil %}
{% endblock %}
{% block navBoutique %}
    active
{% endblock %}
{% block body %}

        <div class="center bottom15">
            <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext noneleft text25" id="salon">
                <i class="fa fa-mobile-alt fa-3x author bluetext"></i>
                <p><strong>Console portable</strong></p>
            </div>
        </div>
    {% for key, uneConsole in console %}
        <div class="normal-cursor bubble-speech bubble-center div-bouton bluetext height570px" id="Boutique-{{ uneConsole.ref }}">
            <p><img src="data:image/png;base64,{{ imageF[key] }}" class="height30px maxw100p"/><strong class="left40p">{{ uneConsole.nom }}</strong>
            </p>
            <img src="data:image/png;base64,{{ imageC[key] }}" class="height270px maxw270p bottom10p"/>
            {% if etat[key] == "Rupture de stock" %}
                <p class="redtext"><strong><h4>{{ etat[key] }}</h4></strong></p>
                <a href="/Boutique/Detail/{{ uneConsole.ref }}" class="pixel link-cursor blue">Détail<i
                            class="fa fa-info-circle fa-3x author whitetext left10p ptop20px right-15p"></i></a></br></br>
                <span class="pixel hvr-float grey">Ajouter au panier<i
                            class="fa fa-plus-circle fa-3x author whitetext left10p ptop20px right-15p"></i></span>
            {% else %}
                <p class="redtext"><strong><h4>{{ etat[key] }} €</h4></strong></p>
                <a href="/Boutique/Detail/{{ uneConsole.ref }}" class="pixel link-cursor blue">Détail<i
                            class="fa fa-info-circle fa-3x author whitetext left10p ptop20px right-15p"></i></a></br></br>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <button id="ajout" name="{{ uneConsole.ref }}" class="pixel link-cursor button green whitetext ptop0">Ajouter au panier<i
                                class="fa fa-plus-circle fa-3x author whitetext left10p ptop20px right-15p"></i>
                    </button>
                {% else %}
                    <a href="/Connexion" class="pixel hvr-float green">Ajouter au panier<i
                                class="fa fa-plus-circle fa-3x author whitetext left10p ptop20px right-15p"></i></a>
                {% endif %}
            {% endif %}
            <strong><p id="{{ uneConsole.ref }}" class="top10p bottom10p text15 whitetext" style="line-height: 22px; position: absolute"></p></strong>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function () {
            $("button").click(function () {
                $.ajax({
                    url: '/Boutique/Ajout',
                    method: "post",
                    data: "ref="+this.name,
                    success: function(data){
                        console.log(data);
                        $("#"+data.ref).html(data.res);
                    }
                })
            })
        })
    </script>
{% endblock %}
